
/* button{
	color: #494949 !important;
	text-transform: uppercase;
	text-decoration: none;
	width: 100%;
	background: #ffffff;
	padding: 15px;
	border: 2px solid #4b4e52 !important;
	display: inline-block;
	transition: all 0.4s ease 0s;
	border-radius: 5px;
}
button:hover{
	color: #ffffff !important;
	background: #f6b93b;
	border-color: #f6b93b !important;
	transition: all 0.4s ease 0s;
} */